@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  /* background-image: url(images/76175238_2598742946831223_5170738688459538432_n.jpg);
  background-size: cover; */
  font-family: "Poppins", sans-serif;
  position: relative;
  color: white;
}

.background-img::before {
  content: "";
  background-image: url(images/76175238_2598742946831223_5170738688459538432_n.jpg);

  background-size: cover;
  background-position: center;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2em 0 1em 0;
  color: rgb(0, 0, 0);
}

p {
  font-size: 1.25rem;
  margin-top: 2.3em;
}

label {
  padding: 0.25em;
}

textarea {
  font-family: inherit;
  margin-bottom: 1em;
  width: 96%;
}

button {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5em 0;
  border-radius: 3px;
  border: none;
  margin-bottom: 2em;
  background-color: rgb(109, 0, 0);
  color: white;
  cursor: pointer;
  font-weight: 600;
}

#survey-form {
  background-color: rgb(105, 82, 73, 0.9);
  padding: 2.5rem 3.5rem;
  border-radius: 3px;
}

#description {
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin: 0 0 1.5em 0;
  padding: 0 4em;
  color: rgb(0, 0, 0);
}

.personal > label {
  padding: 1.25em 0 0.5em 0;
}

.personal > input,
select,
textarea {
  font-size: 1.1rem;
  padding: 0.5em;
  border-radius: 3px;
  border: solid rgb(194, 194, 194) 1px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal,
.select-discipline,
.insurance,
.ability-level {
  display: flex;
  flex-direction: column;
}

.insurance input {
  position: relative;
  top: 4px;
  margin-right: 8px;
  min-height: 22px;
  min-width: 22px;
}

.ability-level input {
  position: relative;
  top: 5px;
  margin-right: 10px;
  min-height: 20px;
  min-width: 20px;
}

@media (max-width: 460px) {
  #description {
    padding: 0 1em;
  }
}
